@font-face {
    font-family: 'Oxygen';
    src: url(./Fuentes/Oxygen-Regular.ttf);
}

body {
    background-color: #040404;
    font-family: "Oxygen";
    font-weight: 200;
    margin: 0;
}

header {
    height: 10%;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
}

.logo {
    height: 100%;
    width: 20%;
    margin: 10px;
}

.imglogo {
    height: 100%;
    weight: 100%;
    object-fit: cover;
}

.navbar {
    display: flex;
    height: 100%;
    width: 80%;
    margin: 0;
    padding: 10px;
    cursor: pointer;
}

a {
    list-style: none;
    text-decoration: none;
    color: #040404;
}

a:hover {
    background-color: #386FA4;
}

a:visited {
    color: #040404;
}

.listanav {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

li {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.icon-menu,
.checkbox {
    justify-content: flex-end;
    font-size: 1.5rem;
    font-weight: bold;
    color: #040404;
    display: none !important;
}

#inicio {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 9rem;
    margin-bottom: 2px;
}

.TM {
    height: 100%;
    width: 100%;
    color: #f3f3f3;
    text-align: center;
    background-image: url(./Imagenes/Danzas2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.servicios {
    color: #f3f3f3;
    text-decoration: none;
    text-align: center;
    border: #386FA4 solid 3px;
    margin: 50px;
}

.h3serv {
    font-size: 2rem;
}

.Portfolio {
    color: #f3f3f3;
    text-align: center;
}

.h4Port {
    text-align: center;
    background-color: #386FA4;
}

.Galeria {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-auto-rows: 400px;
    padding: 10px;
    grid-gap: 20px;
    box-sizing: border-box;
}

.FinalDepBidon,
.Danzas,
.Rosedal {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contacto {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.escribinos {
    text-align: center;
    font-size: 2rem;
    color: #f3f3f3;
    background-color: #386FA4;
}

.container-form {
    background-color: #386FA4;
    height: 100%;
    width: 50%;
    border: 5px solid #040404;
    text-align: center;
    margin: 0 auto 5rem;
}

.webform {
    font-size: 1.1rem;
    padding: 5px;
}

label {
    display: block;
}

.webform input {
    width: 80%;
    height: 8%;
    padding: 10px 0 10px;
    margin: 8px;
    border: 2px solid #040404;
}

textarea {
    width: 80%;
    height: 20%;
    padding: 10px 0 10px;
    margin: 8px;
    border: 2px solid #040404;
}

#enviar {
    background-color: #040404;
    color: #f3f3f3;
    border-radius: 10px;
}

#enviar:hover {
    background-color: grey;
    cursor: pointer;
}

footer {
    background-color: #f3f3f3;
}

.copy {
    font-size: 0.8rem;
    text-align: center;
}

.redes-soc {
    font-size: 28px;
    text-decoration: none;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-redes {
    font-weight: bold;
    font-size: 2rem;
    margin: 8px;
}


/* Inicio de Sesion, es una pag aparte  */

.login {
    display: flex;
    width: 100%;
    height: 100%;
}

.contenedor-login {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.inicio-sesion,
.login-opciones {
    width: 30%;
    height: 50%;
    background-color: #f3f3f3;
    text-align: center;
    border-radius: 10px;
}

.login-opciones {
    background-color: #386FA4;
}

.h3login {
    font-size: 1.5rem;
}

.inicio-sesion input {
    width: 80%;
    height: 12%;
    padding: 10px 0 10px;
    margin: 8px;
    border: 2px solid #040404;
    border-radius: 10px;
}

#ingresar {
    width: 40%;
    height: 15%;
    border-radius: 15px;
    background-color: #386FA4;
    color: #f3f3f3;
    text-align: center;
    cursor: pointer;
}

#ingresar:hover,
#btn-facebook:hover,
#btn-google:hover {
    background-color: grey;
}

#btn-facebook,
#btn-google {
    background-color: #3b5998;
    color: #f3f3f3;
    width: 80%;
    height: 15%;
    padding: 10px;
    margin: 10px;
    border: 2px solid #040404;
    border-radius: 10px;
    font-size: 1.09rem;
    cursor: pointer;
}

#btn-google {
    background-color: #f3f3f3;
    color: #040404;
}


/* Registro, es una pagina aparte */

.registro {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.h3registro {
    text-align: center;
    font-size: 2rem;
    color: #f3f3f3;
    background-color: #386FA4;
}

.conteiner-registro {
    background-color: #386FA4;
    height: 90%;
    width: 60%;
    border: 5px solid #040404;
    text-align: center;
    margin: 0 auto 5rem;
}

.form-registro {
    font-size: 1.1rem;
    padding: 5px;
}

.form-registro input {
    width: 80%;
    height: 8%;
    padding: 10px 0 10px;
    margin: 8px;
    border: 2px solid #040404;
}

#enviar {
    background-color: #040404;
    color: #f3f3f3;
    border-radius: 10px;
}

#enviar:hover {
    background-color: grey;
    cursor: pointer;
}

@media (max-width:780px) {
    .listanav,
    .logo {
        display: none !important;
    }
    .icon-menu {
        font-size: 3rem;
        display: inline-block !important;
    }
    .checkbox:checked~ul {
        display: inline-block !important;
    }
    h1 {
        font-size: 4.3rem;
        flex-wrap: wrap;
        align-items: center;
    }
    .contenedor-login {
        flex-wrap: wrap;
    }
    .inicio-sesion,
    .login-opciones {
        width: 60%;
        height: 45%;
        margin: 0;
    }
}